.todoClose:hover {
  margin: 10%;
  color: red;
  cursor: pointer;
}

li {
  display: flex;
  margin: 1rem 0;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  /* background-color: black; */
}
h3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* background-color: gray; */
}
